.hero-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  object-fit: contain;
  width: 100%;
  max-width: 1000px;
  max-height: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero-img {
    max-width: 100%;
    max-height: 300px;
  }
}